.a-qrcode-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-usernumber-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-usernumber-qrcode {
  border-radius: 22px;
  width: 200px;
  background: #F0F3F4;
}