.a-vaccination-container {
  position: fixed;
  top: 0pt;
  left: 0pt;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: rgba(0,0,0,0.4);
  z-index: 10;
  .a-base-form {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    .a-vaccination-form {
      border-radius: 12px;
      min-height: 300px !important;
      width: 600px;
      .a-success {
        border-radius: 4px;
        background: #d1f2eb;
      }
      .a-body-decorator {
        border-radius: 4px;
        background: #ECF0F1;
        .a-form-input {
          border-radius: 12px;
          box-shadow: none !important;
        }
        .a-form-input:focus {
          border-color: #D7DBDD !important;
          box-shadow: 0 0 0 3px #D7DBDD !important;
        }
        .a-btn-submit {
          // border-radius: 12px;
          box-shadow: none !important;
          background: #3498db !important;
          transition: background 0.2s ease;
        }
        .a-btn-submit:hover {
          background: #328FCE !important;
        }
      }
      .a-btn-submit {
        // border-radius: 12px;
        box-shadow: none !important;
        background: #3498db !important;
        transition: background 0.2s ease;
      }
      .a-btn-submit:hover {
        background: #328FCE !important;
      }
      .a-form_ {
        border-radius: 4px;
        background: #ECF0F1;
        .a-required-input {
          color: #e6b0aa;
        }
        .a-form-input {
          border-radius: 12px;
          box-shadow: none !important;
        }
        .a-form-input:focus {
          border-color: #D7DBDD !important;
          box-shadow: 0 0 0 3px #D7DBDD !important;
        }
      }
    }
  }
}